{% extends 'index.html' %}
{% block content %}

<form action="login" method="post" style="margin: 5rem auto 0 auto">
    {% csrf_token %}
    
        <!-- Email input -->
        <div class="form-group">
            <label class="form-label" for="form2Example1">User name</label>
            <input type="text" id="form2Example1" class="form-control" name="User" required/>

        </div>
        <div class="form-group">
            <label class="form-label" for="form2Example2">Password</label>
            <input type="password" id="form2Example2" class="form-control" name="password" required/>

        </div>

        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
        
</form>

{% endblock %}